/****************************************/
/* BUY ONLINE CUSTOM STYLESHEET         */
/* Author: SiteLock Marketing           */
/* Last Update: 2018/05/24              */
/****************************************/

/* COMMON STYLES */
body {
    font-size: 14px;
  }
  
  #main {
    background: #EEEEEE;
    width: 100%;
    margin-top: 5px;
  }
  
  #content {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto 0 auto;
  }
  
  #checkoutForm {
    width: 100%;
  
    padding: 10px;
  }
  
  #footer {
    width: 100%;
    height: 300px;
    color: #fff;
    background: #14181D;
  }
  
  a {
    color: #38ACD2;
  }
  
  a:hover {
    color: #38ACD2;
    text-decoration: underline;
  }
  
  /* COMMON CLASSES */
  .imgCenter {
    display: block;
    margin: 0 auto 0 auto;
  }
  
  .checkoutPadding {
    padding: 50px 0 50px 0;
  }
  
  .checkoutHeader {
    padding-bottom: 35px;
    font-size: 30px;
  }
  
  .form-control {
    margin-bottom: 6px;
    font-size: 14px !important;
  }
  
  .blue {
    color: #38ACD2;
  }
  
  .red {
    color: #C32328;
  }
  
  .oswald {
    font-family: 'oswaldlight';
  }
  
  /* ALERTS */
  .alert-danger {
    color: #fff;
    border: 1px solid #C32328;
    background: #C32328;
  }
  
  .alert-danger a {
    color: #fff;
    font-weight: bold;
  }
  
  /* BUTTONS */
  .btn-danger {
    padding: 6px 25px 6px 25px !important;
    font-size: 16px;
    background: #C32328;
    border: 1px solid #C32328;
    border-radius: 0 !important;
  }
  
  .promoshow {
    color: #000;
    font-size: 14px;
    text-align: center;
  }
  
  /* FONT FAMILY */
  @font-face {
      font-family: 'oswaldlight';
      src: url('/font/oswald-light-webfont.ttf') format('ttf'),
           url('/font/oswald-light-webfont.woff2') format('woff2'),
           url('/font/oswald-light-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  /*MEDIA QUERIES*/
  @media only screen and (max-width: 780px) {
     .btn {
       font-size: 14px !important;
     }
  }
  
  @media only screen and (max-width: 500px) {
     #PT, #PS {
       display: none !important;
     }
     #MD {
       display: block !important;
     }
  }