/*** FRINGE CSS FILE                            ***/
/*** This file contains CSS for SiteLock        ***/
/*** fringe pages including old contract pages. ***/
/***                                            ***/
/***                                            ***/
/*** Last Update: 2018/12/06                    ***/

.logoNavFringe {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

/*** AP PAGE ***/
.ap_icon {
    width: 90%;
    max-width: 120px;
    display: block;
    margin: 5px auto;
}

.apPriceBox {
    min-height: 595px !important;
}

.ap_drop_header {
    background: #D13040;
    color: #FFF;
    font-family: 'source_sans_problack';
}

/*** GG PAGE ***/
.ggPriceBox {
    min-height: 565px !important;
}

/*** WP DEV COURSE ***/
#mainBlueWDC {
    width: 100%;
    max-height: 700px;
    padding:50px 0 50px 0;
    background: linear-gradient(to bottom right, #38ACD2 40% , #33548E);
    color: #fff;
  }

/*** MARTECH PAGE ***/

.apPriceBox {
    min-height: 470px !important;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 770px) {
    .hideme {
        display: none !important;
    }
}