/*** GENERAL ***/
body {font-family: 'source_sans_proregular';overflow-x: hidden;}
 
#main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: #707070;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
}

#mainBody {
  width: 98%;
  max-width: 1100px;
  padding: 10px 0 0 0;
  margin: 0 auto 0 auto;
}

#mainTerms {
  width: 98%;
  max-width: 1000px;
  padding: 10px 0 10px 0;
  margin: 0 auto 0 auto;
}

#content {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

#content90 {
  width: 90% !important;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

#mainHeader {
  width: 100%;
  max-height: 600px;
  background: linear-gradient(to bottom right, #D13040 55% , #D78972);
  padding:0 0 0 0;
  margin-top: 114px;
  color: #fff;
}

#mainHeaderBlue {
  width: 100%;
  max-height: 600px;
  background: linear-gradient(to bottom right, #38ACD2 40% , #33548E);
  padding:0 0 0 0;
  margin-top: 114px;
  color: #fff;
}

#mainHeaderDark {
  width: 100%;
  max-height: 600px;
  background: #2B2A2A;
  padding:30px 0 10px 0;
  margin-top: 114px;
  color: #fff;
}

#mainHeaderWhite {
  width: 100%;
  max-height: 600px;
  background: #ffffff;
  padding:30px 0 10px 0;
  margin-top: 110px;
  color: #000000;
}

#mainHeaderBody {
  width: 100%;
  max-width: 1160px;
  padding: 10px 0 0 0;
  margin: 0 auto 0 auto;
}

#mainHeader h1, #mainHeaderBlue h1, #mainHeaderDark h1 {
  font-size: 45px;
  font-family: 'source_sans_prolight';
  line-height: 90%;
}

#mainHeader .btn, #mainHeaderBlue .btn, #mainHeaderDark .btn {
  margin-bottom: 10px;
}

#mainRed {
  width: 100%;
  padding:50px 0 50px 0;
  background: linear-gradient(to bottom right, #D13040 55% , #D78972);
  color: #fff;
}

#mainRedAlt {
  width: 100%;
  padding:50px 0 50px 0;
  background: linear-gradient(to bottom right, #D13040 55% , #D78972);
  color: #fff;
}

#mainBlue {
  width: 100%;
  padding:50px 0 50px 0;
  background: linear-gradient(to bottom right, #38ACD2 40% , #33548E);
  color: #fff;
}

#mainWhite {
  width: 98%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  background: #fff;
  color: #000;
}

#mainGrey {
  background: #EFEFEF;
  width: 100%;
}

#mainDarkGrey {
  background: #D2D2D2;
  width: 100%;
}

#mainDarkerGrey {
  background: #707070;
  width: 100%;
}

 #mainSplitLeft {
   color: #404040;
   margin: 0 auto 0 auto;
   width: 98%;
   max-width: 1000px;
   background-repeat: no-repeat;
   background-image: url('../img/1.png'), url('../img/2.png');
   background-size: 60% 100%, cover;
}

 #mainSplitRight {
   color: #404040;
   margin: 0 auto 0 auto;
   width: 98%;
   max-width: 1000px;
   background-repeat: no-repeat;
   background-image: url('../img/2.png'), url('../img/1.png');
   background-size: 40% 100%, cover;
}

#trustedBar {
  width: 100%;
  background: #D2D2D2;
  background-image: url('../img/trustedNetwork.png');
  padding-top: 35px;
  padding-bottom: 40px;
}


.solutionHead {
  padding-left: 6vw;
  position: relative;
}

a {color: #C32328;}

a:hover {color: #C32328;text-decoration: underline;}

input {font-family: 'Font Awesome 5 Pro', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;}

.mainnav:hover {
  color: #302e2e !important;
  padding-bottom: 10px !important;
  border-bottom: 4px solid #302e2e !important;
  margin-bottom: 0 !important;
}

.linknav a {color: #000 !important;text-decoration: none !important;}

.linkred a {color: #C32328 !important;text-decoration: underline !important;}
.linkred a:hover {color: #D13040!important;text-decoration: underline !important;}

.linkblue a {color: #38ACD2 !important;text-decoration: underline !important;}
.linkblue a:hover {color: #72cae5 !important;text-decoration: underline !important;}

.linkgrey a {color: #474747 !important;text-decoration: underline !important;}
.linkgrey a:hover {color: #302e2e !important;text-decoration: underline !important;}

.linkwhite a {color: #fff !important;text-decoration: none !important;}
.linkwhite a:hover {color: #EFEFEF !important;text-decoration: none !important}

/*** COMMON CLASSES ***/
.tabshow {display: none;}

.ddosAdjust {margin-bottom: -100px !important; }

.color {color: #343A40;}
.colorWhite {color: #fff;}

.card {margin-bottom: 10px;}

.bg-primary {background: #343A40 !important;}
.blue {color: #38ACD2;}
.bkred{background: #38ACD2;}
.red {color: #C32328;}
.bkred {background: #C32328;}
.grey {color: #707070;}
.bkGrey {background: #EFEFEF !important;}

.bkgrey {background: #EFEFEF;}
.bkdark {background: #404040;}
.whitebk {background: #fff;}

.gradone {background: linear-gradient(to bottom right, #38ACD2 30% , #9DBC82) !important;}
.gradtwo {background: linear-gradient(to bottom right, #D13040 55% , #D78972) !important;}

.splitPadding {padding: 50px 10px 50px 10px;}

.splitSpace {
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.padding5 {padding-top: 5px;padding-bottom: 5px;}

.whiteSpace100 {width: 100px;height: 100px;}
.whiteSpace50 {width: 100px;height: 50px;}
.whiteSpace25 {width: 100px;height: 25px;}
.whiteSpace20 {width: 100px;height: 20px;}
.whiteSpace16 {width: 100px;height: 16px;}
.whiteSpace10 {width: 100px;height: 10px;}

.largeNumbersBlue {
  font-size: 40px;
  color: #fff;
  background: linear-gradient(to bottom right, #38ACD2 40% , #33548E);
  padding: 3px 20px 3px 20px;
  border: 5px solid #fff;
  border-radius: 100px;
  font-family: 'source_sans_problack';
  margin: 20px 0;
  max-width: 74px;
  box-shadow: 0px 3px 4px #000000;
}

.headerspace {margin-top: 110px;}

.ulClean {list-style-type: none;}

.ulspeclist ul {list-style: none;}

.ulspeclist ul li::before {
  content: "\25A0";
  color: #D2D2D2;
  font-weight: bold;
  display: inline-block; 
  width: 1.4em;
  margin-left: -1em;
}

.capitalize {text-transform: uppercase;}

.headerBottomGrey {border-bottom: 30px solid #404040;}

.headImgDrop {margin-bottom: -16px !important;}
.headTxtDrop {margin-top: 15px !important;}

.hidden {visibility: hidden;}
.cursor {cursor: pointer;}

.footMobileShow {display: none !important;}

/*** IMG CLASSES ***/
.img100 {display: block;margin: 0 auto 0 auto;width: 100%;}
.img90 {display: block;margin: 0 auto 0 auto;width: 90%;}
.img80 {display: block;margin: 0 auto 0 auto;width: 80%;}
.img70 {display: block;margin: 0 auto 0 auto;width: 70%;}
.img60 {display: block;margin: 0 auto 0 auto;width: 60%;}
.img50 {display: block;margin: 0 auto 0 auto;width: 50%;}

.imgHeight170 {display: block;margin: 0 auto 0 auto;max-height: 170px;}
.imgHeight130 {display: block;margin: 0 auto 0 auto;max-height: 130px;}

.headerimg {display: block;margin: 0 auto 0 auto;width: 100%;max-width: 551px;}
.headerimgmain {display: block;margin: 0 auto 0 auto;width: 100%;max-width: 100%;position:relative; right: 6vw;}

.splitImg {display: block;margin: 0 auto 0 auto;width: 90%;max-width: 300px;}

.splitImgAlt {display: block;margin: 0 auto 0 auto;width: 90%;max-width: 400px;}

.awardBump {margin-top: -30%;max-width: 150px;}

.aboutImg {border: 5px solid #404040;display: block;margin: 10px auto 10px auto;}

.aboutImg:hover {border: 5px solid #D13040;}

/*** COLLAPSE BUTTONS ***/
.btn-c {
  width: 98%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5px;
  border-bottom: 2px solid #404040;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'source_sans_problack';
  cursor: pointer;
  overflow-wrap: break-word;
}

.btn-c:hover {text-decoration: none;}
.btn-collapse {color: #000 !important;}
.btn-collapse:hover {-webkit-transition: all 0.2s ease-in-out;}

/*** PAGE DIV ASSETS ***/
#darkBorderBox {
  width: 100%;
  max-width: 450px;
  background: #fff;
  border: 5px solid #404040;
  margin: 50px auto 0 auto;
}

#darkBorderBoxAlt {
  width: 100%;
  background: #fff;
  border: 5px solid #404040;
  margin: 50px auto 0 auto;
}

#darkBorderGrey {
  width: 100%;
  max-width: 450px;
  background: #EFEFEF;
  border: 5px solid #404040;
  margin: 7px auto;
}

#darkBorderBoxContent {
  width: 97%;
  margin: 0 auto 0 auto;
}

#benefitBox {
  width: 90%;
  max-width: 400px;
  min-height: 300px;
  background: #fff;
  border: 5px solid #404040;
  margin: 50px auto 0 auto;
}

#benefitBoxAlt {
  width: 90%;
  max-width: 400px;
  min-height: 300px;
  background: #e3e3e3;
  border: 5px solid #404040;
  margin: 50px auto 0 auto;
}

#benefitCareer {
  width: 90%;
  min-height: 175px;
  background: #e3e3e3;
  border: 5px solid #404040;
  margin: 50px auto 0 auto;
}

#benefitBoxContent {
  width: 85%;
  margin: 5px auto 0 auto;
}

#benefitCircleBlue {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #38ACD2, #33548E);
  margin-bottom: 20px;
  margin-top: -35px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#benefitCircleRed {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #D13040, #D78972);
  margin-bottom: 20px;
  margin-top: -35px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#benefitCircleBlueAlt {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #38ACD2, #33548E);
  margin: -35px auto 20px auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#benefitCircleRedAlt {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #D13040, #D78972);
  margin: -35px auto 20px auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#benefitCircleReviewRed {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #D13040, #D78972);
  margin: 10px auto 20px auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#benefitCircleReviewBlue {
  width: 80px;
  height: 80px;
  border: 5px solid #404040;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #38ACD2, #33548E);
  margin: 10px auto 20px auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#greyAwardBox {
  background: #fff;
  border: 5px solid #302e2e;
  text-align: center;
  margin-top: 30%;
}

#priceBox {
  width: 90%;
  max-width: 400px;
  background: #fff;
  border: 5px solid #404040;
  margin: 0 auto 50px auto;
}

#priceBoxDetails {
  width: 98%;
  max-width: 1066px;
  background: #fff;
  border: 3px solid #404040;
  margin: 0 auto 50px auto;
}

#priceGreyHead {
   width: 100%;
   background: #EDEDED;
   padding-top: 20px;
   padding-bottom: 10px;
}

#priceBoxContent {
  width: 90%;
  margin: 0 auto 0 auto;
  font-size: 18px;
}

#priceHatWhite {
  width: 98%;
  max-width: 342px;
  background: #fff;
  padding: 10px;
  border: 3px solid #fff;
  font-size: 20px;
  color: #fff;
  margin: 0 auto 0 auto;
}

#priceHatRed {
  width: 90%;
  max-width: 400px;
  background: #D13040;
  padding: 10px;
  font-size: 20px;
  border: 5px solid #404040;
  border-bottom: none;
  color: #fff;
  text-align: center;
  margin: 0 auto 0 auto;
}

#highlightedPriceBox {
  width: 90%;
  background: #fff;
  border: 3px solid #404040;
  margin: 0 auto 50px auto;
  height: 100%;
  max-height: 480px;
}

#highlightedPriceRed {
  width: 90%;
  background: #fff;
  border: 3px solid #D13040;
  margin: 0 auto 50px auto;
  height: 100%;
  max-height: 480px;
}

#priceRedHead {
  width: 100%;
  background: linear-gradient(to bottom right, #D13040, #D78972);
  padding-top: 20px;
  padding-bottom: 10px;
}


/*** WIDTH CLASSES ***/
.maxwidth100 {max-width: 100%;}
.maxwidth90 {max-width: 90%;}
.maxwidth80 {max-width: 80%;}

.width80 {width: 80%;}
.width85 {width: 85%;}
.width90 {width: 90%;}
.width95 {width: 95%;}
.width100 {width: 100%;}

/*** TEXT CLASSES ***/
.wordspace10 {word-spacing: 10px;}
.wordspace20 {word-spacing: 20px;}
.wordspace30 {word-spacing: 30px;}
.wordpad10 {padding: 0 5px 0 5px;}
.wordpad20 {padding: 0 10px 0 10px;}
.wordpad30 {padding: 0 15px 0 15px;}

/*** HEIGHT CLASSES ***/
.divheight310 {min-height: 310px;}
.divheight330 {min-height: 330px;}
.divheight340 {min-height: 340px;}

/*** FORM CLASSES ***/
.forms {
  margin: 0 0 10px 0;
  border:1px solid #343A40;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  background: #F7F7F7;
}

.form-notice {font-size: 12px;margin:10px auto 10px auto;}
.form-notice a {color: #C32328;}
.form-notice a:hover {color: #C32328;text-decoration: underline;}

.form-control {
  font-size: 12px;
  margin-bottom: 7px;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid #707070;
  border-radius: 0 !important;
}
.form-control:focus {
	box-shadow: none;
	border-color: #38ACD2;
  border-bottom: 2px solid #38ACD2 !important;
}

.form-control-alt {
  background: #fff;
  font-size: 12px;
  margin-bottom: 7px;
  border: 2px solid #707070;
  border-radius: 0 !important;
  width: 100%;
  font-size: 18px;
  color: #000;
  padding: 3px;
}
.form-control-alt:focus {
	box-shadow: none;
	border-color: #38ACD2;
  border-bottom: 2px solid #38ACD2 !important;
}

.form-control-text {
  width: 100%;
  max-width: 590px;
  margin: 10px auto;
  border: 2px solid #707070;
  background: #fff;
  font-size: 14px;
  color: #707070;
  resize: none;
  height: 130px;
  padding: 5px;
}

.form-group {
	position: relative;
	margin-top: 10px;
}

.form-control-placeholder {
	position: absolute;
	top: 0;
	padding: 20px 0 0 25px;
	transition: all 200ms;
	opacity: 0;
	font-size: 13px;
  top: 0 !important;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
	transform: translate3d(0, -100%, 0);
	opacity: 1;
	font-size: 14px;
	font-family: 'source_sans_proregular' !important;
	color: black;
	font-weight: bold;
}

.message {border: 2px solid #707070 !important;resize: none;}
.message:focus {border: 2px solid #38ACD2 !important;}

.modalFix {max-width: 420px !important;}

.modal-md {max-width: 350px;}
.modal-md a, .modal-lg a {color: #C32328 !important;}
.modal-md a:hover, .modal-lg a:hover {color: #C32328 !important;text-decoration: underline;}

/*** LINK CLASSES ***/
.blueLink a {color: #38ACD2;}
.blueLink a:hover {color: #38ACD2;text-decoration: underline;}

.redLink a {color: #C32328;}
.redLink a:hover {color: #C32328;text-decoration: underline;}

.whiteLink a {color: #fff;text-decoration: underline;}
.whiteLink a:hover {color: #fff;text-decoration: none;}

/*** NAVIGATION ***/
#menu {
  background: #fff;
  color: #000 !important;
  width: 100%;
  margin: 0 0 0 0;
  font-size: 16px !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999 !important;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

#menu_basic {
  background: #fff;
  color: #000 !important;
  width: 100%;
  margin: 0 0 0 0;
  font-size: 16px !important;
  width: 100%;
  font-weight: bold;
}

#menu_inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto 0 auto;
}

#menu_basic a {
  color: #000;
}

#menu_basic a:hover {
  color: #000;
}

.navHide {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 0 !important;
  z-index: -10000;
}

.top_menu {
  width: 100%;
  max-width: 1198px;
  padding-top: 10px;
  text-align: right;
  font-size: 14px !important;
  font-family: 'source_sans_problack';
  font-weight: normal;
  word-spacing: 7px;
}

.top_menu_space {
  padding-left: 7px;
  padding-right: 7px;
}

.logoNav {
  max-width: 150px;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

#navbarDropdown {
  visibility: collapse !important;
}

.navbar .dropdown-menu {
 border: 5px solid #404040 !important;
 border-radius: 0 !important;
 background-color:#fff!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
 
 /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
 padding-top:0px;
 padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
 padding:.5rem .5rem;
 margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {
  position:static;
  color: #000 !important;
  font-family: 'source_sans_prolight';
}

.navbar .dropdown-menu {
 width:100%;
 left:0;
 right:0;
/*  height of nav-item  */
 top: 62px;
}
 
 /* shows the dropdown menu on hover */
 .dropdown:hover {
  color: #302e2e !important;
  padding-bottom: 10px !important;
  border-bottom: 4px solid #302e2e !important;
  margin-bottom: 0 !important;
}

.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}
 
 .navbar .dropdown-menu {
   border: 1px solid rgba(0,0,0,.15);
   background-color: #fff;
 }

.nav-adj {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'source_sans_problack';
  font-weight: normal !important;
  font-size: 14px;
}

.nav-adj:hover {
  color: #707070 !important;
}

.navDesc {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'source_sans_prolight';
  color: #707070;
}

}

.dropdown-toggle::after {
  display:none;
}

.mccoy {
  margin-top: 8px;
}

.kirk {
  margin-top: -50px !important;
  padding-top: -50px !important;
}

.spock::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.mobnav {display: none;}

/*** FOOTER ***/
.footer {
  width: 100%;
  background: #404040;
  color: #fff;
  font-size: 14px !important;
  padding: 10px 0 10px 0;
  font-family: 'source_sans_proregular';
}

.footer a, a:visited {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #d8d8d8;
  text-decoration: underline;
}

.logoFooter {
  max-width: 240px;
  display: block;
  margin:0 auto 15px auto;
}

.footerNav {
    font-size: 16px;
    text-align: center;
}

.footerNavItem {
  padding:0 5px 0 5px;
}

.footerHR {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #707070;
    margin: 1em 0;
    padding: 0;
}

.footerCol {
  border-left: 1px solid #707070;
}

.footerSpace {
  margin-bottom: 10px;
}

.footerInput {
  height: 36px;
  margin:0;
  border: none;
  width: 100% !important; 
}

.footerInput:focus {
  border: none !important;
}

.footCopy {
  margin: 5px auto 5px auto !important;
}

.footSubtext {
  margin: 5px auto 5px auto !important;
  font-size: 12px;
  font-family: 'source_sans_problack';
}

.btn-f {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 100px !important;
  padding: 0.375rem 0.75rem;
  margin-top: 1px;
  font-size: 15px;
  line-height: 1;
  border-radius: 0 25px 25px 0 !important;
  font-family: 'source_sans_proregular';
}

.btn-foot {
  color: #fff !important;
  background: #C32328;
  border: 4px solid #C32328;
  -webkit-transition: all 0.2s ease-in-out;
}

.btn-foot:hover {
  color: #fff !important;
  border: 4px solid #fff;
}

/*** CONTACT ***/
#deptBox {
  width: 100%;
  max-width: 590px;
  border: 2px solid #707070;
  background: #EFEFEF;
  padding-top: 7px;
  margin-bottom: 10px;
}

.dselect {
  padding: 5px;
  background: #fff;
  color: #38ACD2;
  border: 2px solid #38ACD2;
}

.hrWhite {
  display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #fff;
    margin: 2.5em 0;
    padding: 0; 
} 


/*** FONT FAMILIES ***/
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../font/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../font/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../font/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../font/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_problack';
    src: url('../font/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('../font/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*** HEADERS ***/
h1 {margin-top: 30px;}

/*** FONTS ***/
.sourceLight {font-family: 'source_sans_prolight' !important;}
.sourceRegular {font-family: 'source_sans_proregular' !important;}
.sourceBlack {font-family: 'source_sans_problack' !important;}

.font10 {font-size: 10px;}
.font12 {font-size: 12px;}
.font14 {font-size: 14px;}
.font16 {font-size: 16px;}
.font18 {font-size: 18px;}
.font22 {font-size: 22px;}
.font25 {font-size: 25px;}
.font35 {font-size: 35px;}
.font45 {font-size: 45px;}
.font55 {font-size: 55px;}

/*** BUTTONS ***/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 100px !important;
  padding: 0.375rem 1.25rem;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'source_sans_problack';
  -webkit-transition: all 0.2s ease-in-out;
}

.btn:hover {-webkit-transform: scale(1.1);}
.btn:active {-webkit-transform: scale(1);}

.btn-red {
  color: #fff !important;
  background: linear-gradient(to bottom right, #D13040 55% , #D78972);
  border: 4px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  word-spacing: normal;
}

.btn-blue {
  color: #fff !important;
  background: linear-gradient(to bottom right, #38ACD2 40% , #33548E);
  border: 4px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  word-spacing: normal;
}

.btn-invisible {
  color: #404040 !important;
  border: 4px solid #fff;
  background: #fff;
  word-spacing: normal;
}

.btn-ghost-grey {
  color: #404040 !important;
  border: 4px solid #404040;
  -webkit-transition: all 0.2s ease-in-out;
  background: #fff;
}

.btn-ghost-white {
  color: #fff !important;
  background: none;
  border: 4px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
}

.btn-ghost-red {
  color: #D13040 !important;
  background: #fff;
  border: 4px solid #D13040;
  -webkit-transition: all 0.2s ease-in-out;
}

.btn-ghost-blue {
  color: #38ACD2 !important;
  border: 4px solid #38ACD2;
  -webkit-transition: all 0.2s ease-in-out;
}

.btn-red:hover {
  color: #fff !important;
  border: 4px solid #fff;
  box-shadow: 0px 3px 4px #000000;
  backfill-visibility: hidden;
}

.btn-blue:hover {
  color: #fff !important;
  border: 4px solid #fff;
  box-shadow: 0px 3px 4px #000000;
  backfill-visibility: hidden;
}

.btn-invisible:hover {
  color: #404040 !important;
  background: #fff;
}

.btn-ghost-grey:hover {
  color: #404040 !important;
  box-shadow: 0px 3px 4px #000000;
  background: #fff;
  backfill-visibility: hidden
}

.btn-ghost-white:hover {
  color: #fff !important;
  box-shadow: 0px 3px 4px #000000;
  backfill-visibility: hidden
}

.btn-ghost-red:hover {
  color: #D13040 !important;
  box-shadow: 0px 3px 4px #000000;
  backfill-visibility: hidden
}

.btn-ghost-blue:hover {
  color: #38ACD2 !important;
  box-shadow: 0px 3px 4px #000000;
  backfill-visibility: hidden
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

/*** CASE STUDIES ***/
#caseBox {
  background: #fff;
  width: 100%;
  border: 5px solid #404040;
  margin-bottom: 30px;
}

/*** DOWNLOADS ***/
#downloadBoxHeader {
  width: 100%;
  padding: 12px;
  border-top: 5px solid #404040;
  border-left: 5px solid #404040;
  border-right: 5px solid #404040;
  font-family: 'source_sans_problack';
  font-size: 18px;
  color: #fff;
}

#downloadBox {
  background: #fff;
  width: 100%;
  padding: 15px;
  border: 5px solid #404040;
  margin-bottom: 30px;
  height: 330px;
}

.dl-dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFEFEF;
  border-left: 5px solid #404040;
  border-right: 5px solid #404040;
  border-bottom: 5px solid #404040;
  min-width: 158px;
  overflow: auto;
  z-index: 1;
}

.dl-show {display: block;}

/*** BUTTONS DOWNLOADS ***/
.btn-d {
  width: 100%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5px;
  border: 4px solid #404040;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'source_sans_problack';
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.btn-d:hover {
  -webkit-transform: scale(1.1);
}

.btn-downloads {
  color: #fff !important;
}

.btn-downloads:hover {
  -webkit-transition: all 0.2s ease-in-out;
}

.dnavy {background-color: #33548E;}
.dred {background-color: #D13040;}
.dgreen {background-color: #8DCFB3;}
.dyellow {background-color: #EAAE44;}
.dpurple {background-color: #A486AD;}
.dblue {background-color: #38ACD2;}
.dpink {background-color: #D78972;}
.dorange {background-color: #FF742F;}

/*** OPACITY ***/
.opac70 {opacity: 0.7;}
.opac60 {opacity: 0.6;}
.opac50 {opacity: 0.5;}

/*** PRICING ***/
#priceSteps {
  width: 100%;
  background: #D2D2D2;
  border-top: 5px solid #404040;
  border-bottom: 5px solid #404040;
  padding: 0;
}

.priceStepsBox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.priceStepsBoxSelected {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  color: #38ACD2;
  border: 1px solid #404040;
}

.priceCompareBlue {
  background: #38ACD2;
  color: #fff;
}

.priceCompareGrey {
  background: #EFEFEF;
  font-weight: normal !important;
}

.priceHover:hover {
  font-weight: bold;
}

/*** REVIEWS ***/
.reviewStar {width: 100%;max-width: 35px;}

/*** CAREERS ***/
.careersHeader {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 504px;
  background: url('/img/careers/careers_header.png');
}

.careersHeaderBox {
  padding: 10px;
  background: #ffffff;
  width: 80%;
  max-width: 350px;
  margin: 10% auto 0 auto;
}

.careerSiteImg {
  display: block;
  margin: 0 auto;
  width: 98%;
  max-width: 280px;
}

.careerSiteImgAward {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 280px;
}

.theWayHeader {width: 98%;border-top: 5px solid #404040;border-left: 5px solid #404040;border-right: 5px solid #404040;border-bottom: 3px solid #404040;}
.theWayBox {width: 98%;border-top: 2px solid #404040;border-left: 5px solid #404040;border-right: 5px solid #404040;border-bottom: 3px solid #404040;color: #ffffff;}
.theWayFooter {width: 98%;border-top: 2px solid #404040;border-left: 5px solid #404040;border-right: 5px solid #404040;border-bottom: 5px solid #404040;color: #ffffff;}
.wayBK1 {background: linear-gradient(to bottom right, #eaae44, #d13040);}
.wayBK2 {background: linear-gradient(to bottom right, #d13040, #a486ad);}
.wayBK3 {background: linear-gradient(to bottom right, #a486ad, #38acd2);}
.wayBK4 {background: linear-gradient(to bottom right, #38acd2, #33548e);}
.wayBK5 {background: linear-gradient(to bottom right, #33548e, #8dcfb3);}

/*** AWARDS ***/
#awardsBox {width: 98%;background: #FFFFFF;border: 5px solid #404040;min-height: 250px;margin-bottom: 20px;}
#awardsBox:hover {cursor: pointer;opacity: 0.5;}
.awardIMG {display: block;margin: 0 auto 0 auto;max-width: 90%;max-height: 250px;}

/*** GIVING BACK ***/
.givingBackHeader {background: linear-gradient(to bottom right, #38ACD2, #A486AD) !important;}
.givingBackImg {display: block;margin: 0 auto 0 auto;max-width: 90%;max-height: 100px;}

/*** COMMUNITY ***/
.communityHeader {display: block;margin: 0 auto 0 auto;width: 100%;max-width: 550px;}

/*** NEWS & PR ***/
#news {padding:10px 0;border-bottom: 3px solid #707070;}
#pr {padding:10px 0;border-bottom: 3px solid #ffffff;color: #fff;}
.newsImg {display: block;margin: 0 auto 0 auto;width: 90%;max-width: 100px;}

/*** CHANNEL PAGES***/
#channelBox {
  width: 95%;
  background: #EFEFEF;
  margin: 50px auto 0 auto;
}

#channelBoxContent {
  width: 85%;
  margin: 5px auto 0 auto;
  font-size: 22px;
}

#hostingProviders {
  border-top: 5px solid #404040;
  border-bottom: 5px solid #404040;
}

.channelCircleBlue {
  border: 5px solid #404040;
  font-size: 50px;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #38ACD2, #33548E);
  color: #fff;
  padding: 7px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80px;
}

.channelCircleRed {
  border: 5px solid #404040;
  font-size: 50px;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #D13040, #D78972);
  color: #fff;
  padding: 7px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80px;
}

.chThreeTier {
  font-size: 18px !important;
}

.circleHeadWhite {
  border: 6px solid #ffffff;
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
}

.circleHeadGrey {
  border: 6px solid #404040;
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
}

.channelHS {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 159px;
  height: 100%;
  max-height: 159px;
}

/*** MEDIA QUERIES ***/
/*** Nav ***/
@media screen and (max-width: 991px) {
  .dropdown-toggle::after {
    display: initial;
  }
  .mobnav {
    display: block;
  }
  .mobnav a {
    font-family: 'source_sans_problack';
    color: #404040;
  }
  .mobnav a:hover {
    color: #707070;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .navbar-toggler {
    border: 0 solid #fff !important;
  }
  .dropdown-item {
    text-align: center !important;
  }
  .desnav {
    display: none;
  }
  #mainHeader, #mainHeaderBlue, #mainHeaderDark, #mainHeaderWhite {
    margin-top: 0;
    text-align: center;
  }
  .solutionHead {
    padding-left: 0;
  }
  .dropdown-toggle::after {
    display:none;
  }
  .btn {
    font-size: 14px;
    padding: 0.3rem 0.8rem;
    max-width: 98% !important;
    font-family: 'source_sans_proregular';
    font-weight: bold;
  }
  .headerimg, .headerimgmain, .givingIcon {
    display: none;
  }
  .tabshow {
    display: block !important;
  }
  .iconFirst {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .reviewStar { 
    width: 100%;max-width: 20px;
  }
}

/*** Tablet ***/
@media only screen and (max-width: 768px) {
  .careersHeader {
    background: url('/img/careers/careers_header_tablet.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .careersHeaderBox {
    margin: 15% auto 0 auto;
  }
  .ddosAdjust {
    margin-bottom: 0 !important; 
  }
  .table {
    font-size: 12px !important;
  }
  .vimMob {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  .qsrMobile {
    max-width: 60% !important;
  }
  .tabCenter {
    text-align: center !important;
  }
  #caseBox .font25 {
    font-size: 18px !important;
  }
  #caseBox .font18 {
    font-size: 14px !important;
  }
  #mainBlue h3 {
    font-size: 25px !important;
  }
  #mainGrey strong {
    font-size: 20px !important;
  }
  #mainRed, #mainBlue, #mainHeader, #mainHeaderBlue {
    text-align: center;
  }
  #mainHeaderBody {
    max-width: 95%;
  }
  #greyAwardBox, #darkBorderBox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #mainSplitRight,  #mainSplitLeft {
    background: #fff !important;
  }
  #darkBorderBox h5 {
    font-size: 10px !important;
  }
  #pricehide {
    display: none;
  }
}

/*** Phone ***/
@media only screen and (max-width: 414px) {
  .top_menu {
    text-align: center !important;
  }
  .btn {
    font-size: 18px;
    padding: 0.375rem 1.5rem;
    max-width: 98% !important;
    font-family: 'source_sans_problack';
    font-weight: normal;
  }
  .careersHeader {
    background: #ffffff;
    max-height: 275px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .careersHeaderBox {
    margin: 5% auto 0 auto;
  }
  .footMobileHide {
    display: none !important;
  }
  .footMobileShow {
    display: block !important;
  }
  .font45 {
    font-size: 35px;
  }
  .font55 {
    font-size: 45px;
  }
  .fontReset {
    font-size: 25px !important;
  }
  .mobCenter {
    text-align: center;
  }
  .wayIMG {
    max-width: 40% !important;
  }
  .whiteSpace50 {
    width: 100px;height: 25px;
  }
  .whiteSpace100 {
    width: 100px;height: 25px;
  }
  #channelBox {
    text-align: center;
  }
  #darkBorderBox h5 {
    font-size: 20px !important;
  }
  #mainHeader h3, #mainHeaderBlue h3, #mainHeaderDark h3 {
    font-size: 25px;
  }
}

/*** COOKIE CONSENT ***/
.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1 0 auto;flex:1 0 auto}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{display:block;-ms-flex:1 1 auto;flex:1 1 auto;max-width:100%;margin-right:1em}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-floating .cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-floating,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1 1 auto;flex:1 1 auto}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}.cc-window.cc-banner .cc-message{margin-right:0}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}