<!-- Contact Form -->
<div class="modal fade" id="ContactForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modalForm modalFix">
      <div class="modal-header">
        <h5 class="modal-title sourceRegular" id="exampleModalLabel"><?php echo $ct_title; ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fal fa-times-circle" style="user-select: auto;"></i>
        </button>

      </div>
      <div class="modal-body">
        <p class="text-center redLink">Call us anytime at <a href=""><?php echo $ct_phone; ?></a> or fill out the form below:</p>
      <form>
        <span class="form-inline"><i id="CTvalidateName" class="far fa-circle grey fa-lg"title="Name should be formatted as firstname lastname"></i>&nbsp;<input id="CTinputName" style="width: 90%;" type="text" class="form-control" placeholder="Full Name" required></span>
        <span class="form-inline"><i id="CTvalidatePhone" class="far fa-circle grey fa-lg"title="Phone Number should be formatted as 0001112222"></i>&nbsp;<input id="CTinputPhone" style="width: 90%;" type="text" minlength=3 class="form-control" placeholder="Phone Number" required></span>
        <span class="form-inline"><i id="CTvalidateEmail" class="far fa-circle grey fa-lg" title="Email should be formatted as you@domain.com"></i>&nbsp;<input id="CTinputEmail" style="width: 90%;" type="email" class="form-control" placeholder="Email" required></span>
        Message:
        <textarea class="form-control message" name="message" required></textarea>



      <div class="custom-control custom-checkbox" style="font-size: 14px;">
        <input type="checkbox" class="custom-control-input" id="customCheck3">
        <label class="custom-control-label" for="customCheck3">Email me the latest website security news</label>
      </div>
      <br>
      <p class="text-center"><button type="submit" class="btn btn-primary"><?php echo $ct_btn; ?></button></center>
      </form>
      </div>
      <div class="modal-footer">
        <p class="form-notice">By submitting this form you confirm that you have read and accepted our <a href="terms" target="_blank">Terms & Conditions</a> and <a href="privacy-policy" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
