	<!-- High Barrier -->
  <div class="modal fade" id="HighBarrierForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content modalForm modalFix">
        <div class="modal-header">
          <h5 class="modal-title sourceBlack padding-left25 padding10" id="exampleModalLabel"><?php echo $hb_title; ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fal fa-times-circle" style="user-select: auto;"></i>
          </button>
  
        </div>
        <div class="modal-body padding25">
          <p class="redLink padding-left25">Call us anytime at <a href=""><?php echo $hb_phone; ?></a><br/> or fill out the form below:</p>
        <form class="mt-20" method="post" action="https://sitelock.sugarondemand.com/rest/v11/ms-lead-routing">
  
          <span class="form-inline form-group"><i id="validateName" class="far fa-circle grey fa-lg" title="First Name should be formatted as firstname"></i>&nbsp;<input name="First Name" id="HBinputName" style="width: 90%;" type="text" class="form-control" required placeholder="First Name"><label class="form-control-placeholder" for="HBinputName">First Name</label>
  
          </span>
          <span class="form-inline form-group"><i id="validatelastName" class="far fa-circle grey fa-lg" title="Last Name should be formatted as lastname"></i>&nbsp;<input name="Last Name" id="HBinputlastName" style="width: 90%;" type="text" class="form-control" required placeholder="Last Name"><label class="form-control-placeholder" for="HBinputlastName">Last Name</label>
  
          </span>
  
          <span class="form-inline form-group"><i id="validateDomain" class="far fa-circle grey fa-lg" title="Domain Name should be formatted as domain.com"></i>&nbsp;<input name="acton_domain_c" id="HBinputDomain" style="width: 90%;" type="text" class="form-control" required placeholder="Domain"><label class="form-control-placeholder" for="HBinputDomain">Domain</label>
   
          </span>
  
          <span class="form-inline form-group"><i id="validateEmail" class="far fa-circle grey fa-lg" title="Email should be formatted as you@domain.com"></i>&nbsp;<input name="Email" id="HBinputEmail" style="width: 90%;" type="email" class="form-control" required placeholder="Email"><label class="form-control-placeholder" for="HBinputEmail" >Email</label>
  
          </span>
  
          <span class="form-inline form-group"><i id="validatePhone" class="far fa-circle grey fa-lg" title="Phone should be formatted as 0001112222"></i>&nbsp;<input name="Phone" id="HBinputPhone" style="width: 90%;" type="number" minlength=3 class="form-control" required placeholder="Phone Number"><label class="form-control-placeholder" for="HBinputPhone">Phone Number</label>
  
          </span>
  
        <div class="custom-control custom-checkbox" style="font-size: 14px; padding-left:48px !important;">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Email me the latest website security news</label>
        </div>
        <input type="hidden" name="Lead_Source_Description" value="<?php echo $UTM;?>">
        <input type="hidden" name="Form ID" value="<FORM ID>">
        <input type="hidden" name="Lead Source" value="Act-On Form">
        <input type="hidden" name="Lead Group" value="Paid Marketing">
        <input type="hidden" name="Accepts Email" value="Accepts Email">
        <input type="hidden" name="Division" value="Retail">
        <input type="hidden" name="Lead Type" value="PPC">
        <input type="hidden" name="Lead Campaign" value="<CAMPAIGN ID>">
        <br>
        <p class="text-center"><button type="submit" class="btn btn-primary"><?php echo $hb_btn; ?></button></center>
        </form>
        </div>
        <div class="modal-footer">
          <p class="form-notice">By submitting this form you confirm that you have read and accepted our <a href="terms" target="_blank">Terms & Conditions</a> and <a href="privacy-policy" target="_blank">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </div>
