<!-- REVIEW FORM -->
<div class="modal fade bd-example-modal-lg" id="ReviewForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modalForm">
      <div class="modal-header">
        <h5 class="modal-title sourceRegular" id="exampleModalLabel">Leave Your Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fal fa-times-circle" style="user-select: auto;"></i>
        </button>

      </div>
      <div class="modal-body">
        <div class="text-center"><span>Star Rating</span><br>
          <i id="one" class="far fa-star fa-lg"></i>
          <i id="two" class="far fa-star fa-lg"></i>
          <i id="three" class="far fa-star fa-lg"></i>
          <i id="four" class="far fa-star fa-lg"></i>
          <i id="five" class="far fa-star fa-lg"></i>
        </div>
        <hr>
      <form>
        <span class="form-inline"><i id="RVvalidateName" class="far fa-circle grey fa-lg"title="Name should be formatted as firstname lastname"></i>&nbsp;<input id="RVinputName" style="width: 95%;" type="text" class="form-control" placeholder="Full Name" required></span>
        <span class="form-inline"><i id="RVvalidateDomain" class="far fa-circle grey fa-lg" title="Domain Name should be formatted as domain.com"></i>&nbsp;<input id="RVinputDomain" style="width: 95%;" type="text" class="form-control" placeholder="URL (Optional)"></span>
        <span class="form-inline"><i id="RVvalidateEmail" class="far fa-circle grey fa-lg" title="Email should be formatted as you@domain.com"></i>&nbsp;<input id="RVinputEmail" style="width: 95%;" type="email" class="form-control" placeholder="Email" required></span>

        <input type="hidden" name="stars" value="0">
        Review:
        <textarea class="form-control message" name="message" required></textarea>

      <div class="custom-control custom-checkbox" style="font-size: 14px;">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">Email me the latest website security news</label>
      </div>
      <br>
      <p class="text-center"><button type="submit" class="btn btn-primary">Submit</button></center>
      </form>
      </div>
      <div class="modal-footer">
        <p class="form-notice">By submitting this form you confirm that you have read and accepted our <a href="terms" target="_blank">Terms & Conditions</a> and <a href="privacy-policy" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
