<!-- Low Barrier -->
<div class="modal fade" id="LowBarrierForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modalForm modalFix">
      <div class="modal-header">
        <h5 class="modal-title sourceRegular" id="exampleModalLabel"><?php echo $lb_title; ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fal fa-times-circle" style="user-select: auto;"></i>
        </button>

      </div>
      <div id="content90" class="modal-body">
      <form method="post" action="https://sitelock.sugarondemand.com/rest/v11/ms-lead-routing">
        <span class="form-inline"><i id="LBvalidateName" class="far fa-circle grey fa-lg"title="First Name should be formatted as firstname"></i>&nbsp;<input id="LBinputName" style="width: 90%;" type="text" class="form-control" placeholder="First Name" required></span>
        <span class="form-inline"><i id="LBvalidateLast" class="far fa-circle grey fa-lg"title="Last Name should be formatted as lastname"></i>&nbsp;<input id="LBinputLast" style="width: 90%;" type="text" class="form-control" placeholder="Last Name" required></span>
        <span class="form-inline"><i id="LBvalidateEmail" class="far fa-circle grey fa-lg" title="Email should be formatted as you@domain.com"></i>&nbsp;<input id="LBinputEmail" style="width: 90%;" type="email" class="form-control" placeholder="Email" required></span>

      <div class="custom-control custom-checkbox" style="font-size: 14px;">
        <input type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">Email me the latest website security</label>
      </div>
      <br>

      <input type="hidden" name="Lead Source" value="Act-On Form">
      <input type="hidden" name="Lead Group" value="Organic Web">
      <input type="hidden" name="Accepts Email" value="Accepts Email">
      <input type="hidden" name="Division" value="Retail">
      <input type="hidden" name="Lead Type" value="Pricing">
      <p class="text-center"><button type="submit" class="btn btn-blue"><?php echo $lb_btn; ?></button></center>
      </form>
      </div>
      <div id="content90" class="modal-footer">
        <p class="form-notice">By submitting this form you confirm that you have read and accepted our <a href="terms" target="_blank">Terms & Conditions</a> and <a href="privacy-policy" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
