<!-- PRICING -->
<div class="modal fade" id="PricingForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modalForm modalFix">
      <div class="modal-header">
        <h5 class="modal-title sourceRegular" id="exampleModalLabel"><?php echo $hb_title; ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fal fa-times-circle" style="user-select: auto;"></i>
        </button>

      </div>
      <div id="content90" class="modal-body">
        <p class="text-center redLink">Call us anytime at <a href="tel:<?php echo $hb_phone_link; ?>"><?php echo $hb_phone; ?></a> or fill out the form below:</p>
      <form method="post" action="https://sitelock.sugarondemand.com/rest/v11/ms-lead-routing">
        <span class="form-inline form-group"><i id="validateName" class="far fa-circle grey fa-lg"title="First Name should be formatted as firstname"></i>&nbsp;<input id="HBinputName" style="width: 90%;" type="text" class="form-control" placeholder="First Name" required><label class="form-control-placeholder" for="HBinputName">First Name</label></span>
        <span class="form-inline form-group"><i id="validateLast" class="far fa-circle grey fa-lg"title="Last Name should be formatted as lastname"></i>&nbsp;<input id="HBinputLast" style="width: 90%;" type="text" class="form-control" placeholder="Last Name" required><label class="form-control-placeholder" for="HBinputLast">Name Name</label></span>
        <span class="form-inline form-group"><i id="validateDomain" class="far fa-circle grey fa-lg" title="Domain Name should be formatted as domain.com"></i>&nbsp;<input id="HBinputDomain" style="width: 90%;" type="text" class="form-control" placeholder="Domain" required><label class="form-control-placeholder" for="HBinputDomain">Domain</label></span>
        <span class="form-inline form-group"><i id="validateEmail" class="far fa-circle grey fa-lg" title="Email should be formatted as you@domain.com"></i>&nbsp;<input id="HBinputEmail" style="width: 90%;" type="email" class="form-control" placeholder="Email" required><label class="form-control-placeholder" for="HBinputEmail" >Email</label></span>
        <span class="form-inline form-group"><i id="validatePhone" class="far fa-circle grey fa-lg"title="Phone Number should be formatted as 0001112222"></i>&nbsp;<input id="HBinputPhone" style="width: 90%;" type="text" minlength=3 class="form-control" placeholder="Phone Number" required><label class="form-control-placeholder" for="HBinputPhone">Phone Number</label></span>

      <div class="custom-control custom-checkbox" style="font-size: 14px;">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Email me the latest website security news</label>
      </div>
      <br>

      <input type="hidden" name="Lead Source" value="Act-On Form">
      <input type="hidden" name="Lead Group" value="Organic Web">
      <input type="hidden" name="Accepts Email" value="Accepts Email">
      <input type="hidden" name="Division" value="Retail">
      <input type="hidden" name="Lead Type" value="Pricing">
      <p class="text-center"><button type="submit" class="btn btn-blue"><?php echo $hb_btn; ?></button></center>
      </form>
      </div>
      <div id="content90" class="modal-footer">
        <p class="form-notice">By submitting this form you confirm that you have read and accepted our <a href="terms" target="_blank">Terms & Conditions</a> and <a href="privacy-policy" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>