/*** GENERAL ***/
body {
	font-family: 'source_sans_proregular';
}

#main {
	width: 95%;
	max-width: 1200px;
	margin: 100px auto 100px auto;
	background: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	font-size: 14px;
}

#mainBody {
	width: 98%;
	max-width: 1100px;
	padding: 10px 0 10px 0;
	margin: 0 auto 0 auto;
}

#mainTerms {
	width: 98%;
	max-width: 1000px;
	padding: 10px 0 10px 0;
	margin: 0 auto 0 auto;
}

#content {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto 0 auto;
}

#mainHeader {
	width: 100%;
	max-height: 600px;
	background: linear-gradient(to bottom right, #D13040 55%, #D78972);
	padding: 30px 0 10px 0;
	color: #fff;
}

#mainHeaderBlue {
	width: 100%;
	/* max-height: 600px; */
	background: linear-gradient(to bottom right, #38ACD2 40%, #33548E);
	padding: 30px 0 10px 0;
	color: #fff;
}

#mainHeader h1,
#mainHeaderBlue h1 {
	font-size: 55px;
}

#mainRed {
	width: 100%;
	max-height: 600px;
	padding: 50px 0 50px 0;
	background: linear-gradient(to bottom right, #D13040 55%, #D78972);
	color: #fff;
}

#mainBlue {
	width: 100%;
	/* max-height: 600px; */
	padding: 50px 0 50px 0;
	background: linear-gradient(to bottom right, #38ACD2 40%, #33548E);
	color: #fff;
}

#mainGrey {
	background: #EFEFEF;
	width: 100%;
}

#mainDarkGrey {
	background: #D2D2D2;
	width: 100%;
}

#thankYouBanner {
	background: #8DCFB3;
	width: 100%;
}

.white-bg {
	background: rgb(255, 255, 255);
}

.red-bg {
	background: #c32328 !important;
}

.green-bg {
	background: #a8d383 !important;
}

.orange-bg {
	background: #f68121 !important;
}

.black-bg {
	background: black;
}

.blue-bg {
	background: #38ACD2 !important;
}

.grey-bg {
	background: #2B2A2A;
}

.grey-bg-scraping {
	background: #a1a1a1;
}

.grey-bg-lite {
	background: #D2D2D2;
}

.grey-bg1 {
	background: #F4F4F4;
}

.grey-bg2 {
	background: #EBEBEB;
}

.grey-bg3 {
	background: #EFEFEF;
}

.red-bg-grad {
	background: linear-gradient(to bottom right, #D13040 55%, #D78972) !important;
}

.blue-bg-grad {
	background: linear-gradient(to bottom right, #38ACD2 40%, #33548E) !important;
}

.orange-bg-grad {
	background: linear-gradient(to bottom right, #e79d43 55%, #d33a40) !important;
}
	
.bg-grad1 {
	background: linear-gradient(to bottom right, #7dc8b9 55%, #42b0ce) !important;
}
	
.bg-grad2 {
  background: linear-gradient(to bottom right, #3f5991 55%, #9780a9) !important;
}

a {
	color: #C32328 !important;
}

a:hover {
	color: #C32328;
	text-decoration: underline;
}

input {
	font-family: 'Font Awesome 5 Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.linkred a {
	color: #C32328 !important;
	text-decoration: underline !important;
}

.linkred a:hover {
	color: #D13040!important;
	text-decoration: underline !important;
}

.linkblue a {
	color: #38ACD2 !important;
	text-decoration: underline !important;
}

.linkblue a:hover {
	color: #72cae5 !important;
	text-decoration: underline !important;
}

.linkgrey a {
	color: #474747 !important;
	text-decoration: underline !important;
}

.linkgrey a:hover {
	color: #302e2e !important;
	text-decoration: underline !important;
}

.linkwhite {
	color: #ffffff !important;
}

.linkwhite a {
	color: #ffffff !important;
	text-decoration: underline !important;
}

.linkwhite a:hover {
	color: #ffffff !important;
	text-decoration: underline !important;
}

.linkblack a {
	color: #000000 !important;
	text-decoration: none !important;
}

.linkblack a:hover {
	color: #000000 !important;
	text-decoration: none !important;
}

.shadow {
	box-shadow: 0px 0px 0px #000000;
	padding-right:0px;
	padding-left:0px;
}

/*** COMMON CLASSES ***/
.color {
	color: #343A40;
}

.card {
	margin-bottom: 10px;
}

.bg-primary {
	background: #343A40 !important;
}

.blue {
	color: #38ACD2;
}

.red {
	color: #C32328 !important;
}

.black {
	color: rgb(0, 0, 0);
}

.white {
	color: #ffff !important;
}

.grey {
	color: #707070;
}

.green {
	color: green !important;
}

.img-responsive {
	margin: 0 auto !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-80 {
	margin-top: 80px;
}

.mr-20 {
	margin-right: 20px;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.padding5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-top50 {
	padding-top: 50px;
}

.padding-left20 {
	padding-left: 20px !important;
}	

.padding-left25 {
	padding-left: 25px !important;
}

.padding-left110 {
	padding-left: 110px !important;
	text-align: left !important;
}

.padding20 {
	padding-top: 20px;
	padding-bottom: 20px;
}	

.padding25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.whiteSpace100 {
	width: 100px;
	height: 100px;
}

.upper-font {
	text-transform: uppercase !important;
}

.whiteSpace15 {
	width: 100px;
	height: 15px;
}

.whiteSpace25 {
	width: 100px;
	height: 25px;
}

.whiteSpace50 {
	width: 100px;
	height: 50px;
}

.form-container form input {
	width: 100%;
	margin: 3px auto;
	padding: 5px;
}

.clearfix {
	clear: both !important;
}

.ifr {
	width: 100%;
}

.iconLg {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.no-margin {
	margin: 0px !important
}

.no-padding {
	padding: 0px !important
}

.zindex-top {
	z-index: 999 !important;
	position: relative;
}

.padding-around-10 {
	padding: 10px;
}

.padding-around-20 {
	padding: 20px;
}

.padding-around-25 {
	padding: 25px;
}

.padding-around-30 {
	padding: 30px;
}

.padding-lr50 { 
	padding-left:50px !important; padding-right:50px !important;
}

.bold {
	font-weight: bold !important;
}

.logoBox {
	height: 200px;
}

.logoImg {
	display: flex;
    justify-content: center;
    align-items: center;
	max-width: 200px;
	margin: 0 auto;
}

/* --- Plans ---------------------------- */
.my_planHeader {
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	border-top: 2px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 2px solid #000000 !important;
}

.my_planFeature p {
	font-size: 16px;
	margin: 8px 0 8px !important;
}

.my_planFeature {
	text-align: center;
	font-size: 17px;
	/* padding:5px; */
	min-height: 40px;
	background: #ffffff;
}

.my_feature {
	line-height: 2.5em;
	height: 2.5em;
	background: #D2D2D2;
}

.my_feature span {
	font-size: 17px;
	color: black;
	float: left;
	width: 100%;
	text-align: left;
	text-decoration: none !important;
}

.my_feature span:hover {
	color: black;
	text-decoration: none !important;
}

.my_featureRow {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 2px solid #000000;
}

.no-left-border {
	border-left: none !important;
}

.no-right-border {
	border-right: none !important;
}

.no-top-border {
	border-top: none !important;
}

.no-bottom-border {
	border-bottom: none !important;
}

.no-top-border {
	border-top: none !important;
}

.right-border {
	border-right: 2px solid #000000 !important;
}

.my_planTitle {
	font-size: 2em;
	font-weight: bold;
	vertical-align: middle !important;
}

.my_planPrice {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
}

.my_planDuration {
	margin-top: -0.6em !important;
}

@media (max-width: 768px) {
	.my_planTitle {
		font-size: small;
	}
	.btn {
		font-size: 14px;
	}
}

.image-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
}

/*** IMG CLASSES ***/
.img90 {
	display: block;
	margin: 0 auto 0 auto;
	width: 90%;
}

.img80 {
	display: block;
	margin: 0 auto 0 auto;
	width: 80%;
}

.img70 {
	display: block;
	margin: 0 auto 0 auto;
	width: 70%;
}

.img60 {
	display: block;
	margin: 0 auto 0 auto;
	width: 60%;
}

.img50 {
	display: block;
	margin: 0 auto 0 auto;
	width: 50%;
}

.imgHeight170 {
	display: block;
	margin: 0 auto 0 auto;
	max-height: 170px;
}

.imgHeight130 {
	display: block;
	margin: 0 auto 0 auto;
	max-height: 130px;
}

.list-img {
	width: 100% !important;
	justify-content: space-around !important;
	display: flex !important;
	flex-flow: row nowrap !important;
	align-items: center !important;
}

.headerimg {
	display: block;
	margin: 0 auto 0 auto;
	width: 90%;
	max-width: 551px;
}

.splitImg {
	display: block;
	margin: 0 auto 0 auto;
	width: 90%;
	max-width: 300px;
}

.splitImgAlt {
	display: block;
	margin: 0 auto 0 auto;
	width: 90%;
	max-width: 400px;
}

.awardBump {
	margin-top: -30%;
	max-width: 200px;
}

.aboutImg {
	border: 5px solid #404040;
	display: block;
	margin: 10px auto 10px auto;
}

.aboutImg:hover {
	border: 5px solid #D13040;
}

.img-circle {
	border-radius: 50%
}

/*** PAGE DIV ASSETS ***/
#darkBorderBox {
	width: 100%;
	max-width: 450px;
	background: #fff;
	border: 5px solid #404040;
	margin: 50px auto 0 auto;
}

#darkBorderBoxContent {
	width: 96%;
	margin: 0 auto 0 auto;
}

#benefitBox {
	width: 90%;
	max-width: 400px;
	height: 100%;
	max-height: 290px;
	background: #fff;
	border: 3px solid #404040;
	margin: 50px auto 0 auto;
}

#benefitBoxContent {
	width: 90%;
	margin: 0 auto 0 auto;
}

#benefitCircleBlue {
	width: 73px;
	height: 73px;
	border: 3px solid #404040;
	border-radius: 100%;
	background: linear-gradient(to bottom right, #38ACD2, #33548E);
	margin-bottom: 20px;
	margin-top: -35px;
	color: #fff;
	padding: 7px;
	text-align: center;
}

#benefitCircleRed {
	width: 73px;
	height: 73px;
	border: 3px solid #404040;
	border-radius: 100%;
	background: linear-gradient(to bottom right, #D13040, #D78972);
	margin-bottom: 20px;
	margin-top: -35px;
	color: #fff;
	padding: 7px;
	text-align: center;
}

#greyAwardBox {
	background: #fff;
	border: 4px solid #302e2e;
	text-align: center;
	margin-top: 30%;
}

#priceBox {
	width: 90%;
	max-width: 400px;
	background: #fff;
	border: 3px solid #404040;
	margin: 0 auto 50px auto;
}

#priceGreyHead {
	width: 100%;
	background: #EDEDED;
	padding-top: 20px;
	padding-bottom: 10px;
}

#priceBoxContent {
	width: 90%;
	margin: 0 auto 0 auto;
	font-size: 18px;
}

#priceHatWhite {
	width: 98%;
	max-width: 342px;
	background: #fff;
	padding: 10px;
	border: 3px solid #fff;
	font-size: 20px;
	color: #fff;
	margin: 0 auto 0 auto;
}

#priceHatRed {
	width: 98%;
	max-width: 312px;
	background: #D13040;
	padding: 10px;
	font-size: 20px;
	border: 3px solid #404040;
	border-bottom: none;
	color: #fff;
	text-align: center;
	margin: 0 auto 0 auto;
}

/*** WIDTH CLASSES ***/
.maxwidth100 {
	max-width: 100%;
}

.maxwidth90 {
	max-width: 90%;
}

.maxwidth80 {
	max-width: 80%;
}

/*** TEXT CLASSES ***/
.wordspace10 {
	word-spacing: 10px;
}

.wordspace20 {
	word-spacing: 20px;
}

.wordspace30 {
	word-spacing: 30px;
}

.wordpad10 {
	padding: 0 5px 0 5px;
}

.wordpad20 {
	padding: 0 10px 0 10px;
}

.wordpad30 {
	padding: 0 15px 0 15px;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}


/*** HEIGHT CLASSES ***/
.divheight310 {
	min-height: 310px;
}


/*** FORM CLASSES ***/
.forms {
	margin: 0 0 10px 0;
	border: 1px solid #343A40;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	background: #F7F7F7;
}

.form-notice {
	font-size: 12px;
	margin: 10px auto 10px auto;
}

.form-notice a {
	color: #C32328;
}

.form-notice a:hover {
	color: #C32328;
	text-decoration: underline;
}

.form-control {
	font-size: 12px;
	margin-bottom: 5px;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	/*border-bottom: 2px solid #707070; */
	border-radius: 0 !important;
}

.form-control:focus {
	box-shadow: none;
	border-color: #38ACD2;
	border-bottom: 2px solid #38ACD2 !important;
}

.message {
	border: 2px solid #707070 !important;
	resize: none;
}

.message:focus {
	border: 2px solid #38ACD2 !important;
}

.modalFix {
	max-width: 420px !important;
}

.modal-md {
	max-width: 500px;
}

.modal-md a,
.modal-lg a {
	color: #C32328 !important;
}

.modal-md a:hover,
.modal-lg a:hover {
	color: #C32328 !important;
	text-decoration: underline;
}

.form-group {
	position: relative;
	margin-top: 10px;
}

.form-control-placeholder {
	position: absolute;
	top: 0;
	padding: 20px 0 0 25px;
	transition: all 200ms;
	opacity: 0;
	font-size: 13px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
	/* font-size: 75%; */
	transform: translate3d(0, -100%, 0);
	opacity: 1;
	font-size: 14px;
	font-family: 'source_sans_proregular' !important;
	color: black;
	font-weight: bold;
}

.slide-p {
	padding: 5px 0 0 26px !important;
}


/*** LINK CLASSES ***/
.blueLink a {
	color: #38ACD2 !important;
}

.blueLink a:hover {
	color: #38ACD2 !important;
	text-decoration: underline;
}

.redLink a {
	color: #C32328 !important;
}

.redLink a:hover {
	color: #C32328 !important;
	text-decoration: underline;
}

.whiteLink a {
	color: rgb(255, 255, 255) !important;
}

.whiteLink a:hover {
	color: rgb(255, 255, 255) !important;
	text-decoration: underline;
}

.width-auto {
	width:100% !important
}

/*** MENU ***/
#menu {
	background: #fff;
	color: #000 !important;
	width: 100%;
	margin: 0 0 0 0;
	font-size: 16px !important;
	width: 100%;
	font-weight: bold;
	color: #757575;
	padding-top: 20px;
	padding-bottom: 15px;
}

#menu_inner {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto 0 auto;
}

.navbar,
.navbar-inverse {
	border-radius: 0;
	color: #000;
}

.logoNav {
	max-width: 150px;
}

.navbar a {
	color: #757575 !important;
}

.navbar a:hover {
	color: #C32328 !important;
}


/*** FOOTER ***/
.footer {
	width: 100%;
	background: #404040;
	color: #fff;
	font-size: 14px !important;
	padding: 10px 0 10px 0;
	font-family: 'source_sans_proregular';
}

.footer a,
a:visited {
	color: #fff;
	text-decoration: none;
}

.footer a:hover {
	color: #d8d8d8;
	text-decoration: underline;
}

.logoFooter {
	max-width: 240px;
	display: block;
	margin: 0 auto 15px auto;
}

.footerNav {
	font-size: 16px;
	text-align: center;
}

.footerNavItem {
	padding: 0 5px 0 5px;
}

.footerHR {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #707070;
	margin: 1em 0;
	padding: 0;
}

.footerCol {
	border-left: 1px solid #707070;
}

.footerSpace {
	margin-bottom: 10px;
}

.footerInput {
	height: 36px;
	margin: 0;
	border: none;
	width: 100%;
	max-width: 300px !important;
}

.footerInput:focus {
	border: none !important;
}

.footCopy {
	margin: 5px auto 5px auto !important;
}

.footSubtext {
	margin: 5px auto 5px auto !important;
	font-size: 12px;
	font-family: 'source_sans_problack';
}

.btn-f {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 100px !important;
	padding: 0.375rem 0.75rem;
	margin-top: 1px;
	font-size: 15px;
	line-height: 1;
	border-radius: 0 25px 25px 0 !important;
	font-family: 'source_sans_proregular';
}

.btn-foot {
	color: #fff !important;
	background: #C32328;
	border: 4px solid #C32328;
	-webkit-transition: all 0.2s ease-in-out;
}

.btn-foot:hover {
	color: #fff !important;
	border: 4px solid #fff;
}

/*** FONT FAMILIES ***/
@font-face {
	font-family: 'source_sans_prolight';
	src: url('../font/sourcesanspro-light-webfont.woff2') format('woff2'), url('../font/sourcesanspro-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source_sans_proregular';
	src: url('../font/sourcesanspro-regular-webfont.woff2') format('woff2'), url('../font/sourcesanspro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source_sans_problack';
	src: url('../font/sourcesanspro-black-webfont.woff2') format('woff2'), url('../font/sourcesanspro-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/*** HEADERS ***/
h1 {
	/* margin-top: 30px; */
	margin: 10px 0px;
}


/*** FONTS ***/
.sourceLight {
	font-family: 'source_sans_prolight';
}

.sourceRegular {
	font-family: 'source_sans_proregular';
}

.sourceBlack {
	font-family: 'source_sans_problack';
}

.font10 {
	font-size: 10px !important;
}

.font12 {
	font-size: 12px !important;
}

.font14 {
	font-size: 14px !important;
}

.font16 {
	font-size: 16px !important;
}

.font18 {
	font-size: 18px !important;
}

.font20 {
	font-size: 20px !important;
}

.font25 {
	font-size: 25px !important;
}

.font30 {
	font-size: 30px !important;
}

.font35 {
	font-size: 35px !important;
}

.font45 {
	font-size: 45px !important;
}

.font50 {
	font-size: 50px !important;
}

.font55 {
	font-size: 55px !important;
}


/*** BUTTONS ***/

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: 5px;
	border: 1px solid transparent;
	border-radius: 100px !important;
	padding: 0.375rem 0.75rem;
	font-size: 20px;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-family: 'source_sans_proregular';
	-webkit-transition: all 0.2s ease-in-out;
}

.btn:hover {
	-webkit-transform: scale(1.1);
}

.btn-red {
	color: #fff !important;
	background: linear-gradient(to bottom right, #D13040 55%, #D78972);
	border: 4px solid #fff;
	-webkit-transition: all 0.2s ease-in-out;
	box-shadow: 0px 3px 4px #000000;
}

.btn-blue {
	color: #fff !important;
	background: linear-gradient(to bottom right, #38ACD2 40%, #33548E);
	border: 4px solid #fff;
	-webkit-transition: all 0.2s ease-in-out;
	box-shadow: 0px 3px 4px #000000;
}

.btn-ghost-grey {
	color: #404040 !important;
	background: #fff;
	border: 4px solid #404040;
	-webkit-transition: all 0.2s ease-in-out;
}

.btn-ghost-white {
	color: #fff !important;
	background: none;
	border: 4px solid #fff;
	-webkit-transition: all 0.2s ease-in-out;
}

.btn-ghost-red {
	color: #D13040 !important;
	background: #fff;
	border: 4px solid #D13040;
	-webkit-transition: all 0.2s ease-in-out;
}

.btn-ghost-blue {
	color: #38ACD2 !important;
	background: #fff;
	border: 4px solid #38ACD2;
	-webkit-transition: all 0.2s ease-in-out;
}

.btn-red:hover {
	color: #fff !important;
	border: 4px solid #fff;
	box-shadow: 0px 3px 4px #000000;
}

.btn-blue:hover {
	color: #fff !important;
	border: 4px solid #fff;
	box-shadow: 0px 3px 4px #000000;
}

.btn-ghost-grey:hover {
	color: #404040 !important;
	box-shadow: 0px 3px 4px #000000;
}

.btn-ghost-white:hover {
	color: #fff !important;
	box-shadow: 0px 3px 4px #000000;
}

.btn-ghost-red:hover {
	color: #D13040 !important;
	box-shadow: 0px 3px 4px #000000;
}

.btn-ghost-blue:hover {
	color: #38ACD2 !important;
	box-shadow: 0px 3px 4px #000000;
}

.btn-sm {
	padding: 0.25rem 0.5rem !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
}


/*** OPACITY ***/

.opac60 {
	opacity: 0.7;
}

.opac60 {
	opacity: 0.6;
}

.opac50 {
	opacity: 0.5;
}


/* free-scan-page */
#free-scan .image-banner {
	background-image: url('../img/free-scan/free-scan-banner.jpg');
	padding-top: 70px;
	padding-bottom: 70px;
}

/* repair-now */
#repair-now .iconLg {
  width:auto;
  height: 50px;
  margin-right: 15px;
}

#repair-now .shadow{
  padding:50px !important;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21) !important;
}

#repair-now .lg-img {
  width: 100% !important;
  justify-content: space-around;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

#repair-now .lg-img img{
	width:50%;
}

#repair-now .media-attribution {      
  float:right !important;
  color:#fff !important; 
  font-size:18px; 
}

#repair-now .testimonial p{
	color:#fff;
}

#repair-now .testimonial p:before {
  color: #808080 !important;
  content: "\201C" !important;
  font-size: 6em;
  position:absolute;
  top:-140px;
  left: -5px;
	font-weight:bold;
	font-family: 'Bebas Neue', sans-serif !important;
}

#repair-now .testimonial{
	background:#808080; height:175px; margin:85px 0px;
}

#repair-now .testimonial img{
	border:solid 6px #808080; position:relative; top:-80px; z-index:9999999;
}

#repair-now .circle{ 
	border-radius: 50%; background:#fff;
}

#repair-now .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
	border-left: 60px solid #C32328;
  position: absolute;
	right: -61px;
	top: 224px;
}	

/* powerful-website-page */
#website-scanning .image-banner,
#powerful-website .image-banner {
	background-image: url('../img/powerful-website-security/powerful-website-security-banner.jpg');
	padding-top: 150px;
	padding-bottom: 120px;
}

.security {
	background-image: url('../img/powerful-website-security/glasses.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

#website-malware-scanning .form-control-placeholder,
#powerful-website .form-control-placeholder,
#website-scanning .form-control-placeholder {
	top: 0 !important;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

.industry {
	background-image: url('../img/scanning-gartner-desktop.jpg') !important;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: right 50%;
	height: 340px;
}

.case-study {
	background-image: url('../img/case-study-smallbiz.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: right 50%;
}

#waitinglist .kolonat-hom {
  display:flex;
}

#waitinglist .ikonat-home {
  margin-right:15px;
  font-size:32px;
	border: solid 4px #fff;
  border-radius: 100%;
  text-align: center !important;
  padding:25px;
  display: inline-block;
}

#waitinglist .banner-mobile {
	position:absolute; top:-35px;
}

.verflow {
	overflow:hidden !important;
}

#waitinglist .unblock {
	position: relative; top:15px;
}

/* VPN */
#vpn-lander .box > .icon { text-align: left; position: relative;font-size: 14px;}
#vpn-lander .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 60px; height: 60px; border: 4px solid #404040; line-height: 60px; border-radius: 50%; vertical-align: middle; text-align: center;
      padding-top: 5px;
      left: -110px; }
#vpn-lander .box > .icon > .image > i { font-size: 25px !important; color: #fff !important; top:8px;  position: relative;}
#vpn-lander .box > .icon:hover > .image > i { color: white !important; }
#vpn-lander .box > .icon > .info { margin-top: -24px; background: #ffff !important; border: 4px solid #404040; padding: 45px 25px 10px 35px;min-height: 220px; }
#vpn-lander .box > .icon > .info .title{font-weight:bold; font-size:16px; color:#707070;}
#vpn-lander .box > .icon > .info p{padding-left:10px;}
#vpn-lander .box .space { height: 30px; }

#vpn-lander #priceHatRed {width: 100%;  max-width: 90% !important;}

.width-auto{width:100% !important;}

#vpn-lander .img-tab{position:absolute; left:-65px; top:-30px;}
#vpn-lander .img-web{position:relative; left:-65px; top:100px}
#vpn-lander .sp-bg {
      background: linear-gradient(
        to right, 
        #ffffff 0%, 
        #ffffff 30%, 
        #EFEFEF 30%, 
        #EFEFEF 0%
      );
}
#vpn-lander .sp-bg1 {
      background: linear-gradient(
        to right, 
        #EFEFEF 0%, 
        #EFEFEF 100%, 
        rgb(255, 255, 255) 100%, 
        rgb(255, 255, 255) 0%
      );
}
#vpn-lander .banner-border{border-bottom:solid 30px #404040;}
#vpn-lander .banner-mobile{position:absolute; top:-35px;}
#vpn-lander .arrow_box {
      position: relative;
      background: #ffffff;
      border-left: 3px solid #404040;
      border-right: 3px solid #404040;
}

#vpn-lander .arrow_box:after, .arrow_box:before {
      top: 40px;
      left: 17%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
}

#vpn-lander .arrow_box:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #D13040;
      border-width: 10px;
      margin-left: -21px;
}

#vpn-lander .arrow_box:before {
      border-color: rgba(128, 128, 128, 0);
      border-top-color: #2B2A2A;
      border-width: 15px;
      margin-left: -26px;
}


/* ssl */
#ssl .image-banner {
	background-image: url('../img/ssl/ssl-banner.jpg');
	padding-top: 70px;
	padding-bottom: 320px;
}

/* security-trend */
#security-trend .image-banner {
	background-image: url('../img/security-trend-banner.jpg');
	padding-top: 170px !important;
	padding-bottom: 100px !important;
}

#security-trend .linkwhite a {
	text-decoration:none !important;
}

/** BUY ONLINE SURVEY **/
#new-bol .image-banner {
	background-image: url('../img/pricing-plan-new.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#new-bol .price-tp{border-top:solid 3px #2B2A2A; border-bottom:solid 3px #2B2A2A;}

.arrow_box {
	position: relative;
	background: #ffffff;
	border-left: 3px solid #2B2A2A;
	border-right: 3px solid #2B2A2A;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 38%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
  
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -21px;
}

.arrow_box:before {
	border-color: rgba(128, 128, 128, 0);
	border-top-color: #2B2A2A;
	border-width: 15px;
	margin-left: -26px;
}
/*SiteLock faq collapse */
#questions .panel-heading{background:none !important; text-align:left !important;  border:none; padding:15px 0px;}
#questions .panel-heading a { color:#707070 !important;}
#questions .panel-group .panel, #questions .panel-body{border-top:none; border-left:none; border-right:none; border-bottom:none;}
#questions .panel-body p{ text-align:left !important;}
#questions .panel{border-bottom:solid 2px #808080 !important;}

/*SiteLock faq collapse END*/
#new-bol .card-border{border:solid 5px #404040;}
#new-bol .card-header{padding:0 20px 0 0;}
#new-bol .btn-group{ width:100%; background:#D2D2D2; margin-bottom:15px; ; }
#new-bol .btn-plan{ font-family: 'source_sans_problack'; background:#D2D2D2; border:solid 2px #404040; background:none; width:100%; padding:5px; border-radius: unset !important; margin-top:0px !important; font-size:14px !important}
#new-bol .btn-plan a { background:#D2D2D2; color:#38ACD2; }
#new-bol .btn-plan:hover{ background:rgb(255, 255, 255) !important; color:#38ACD2 !important; -webkit-transition: unset !important;}
#new-bol .btn-plan:focus { background:rgb(255, 255, 255) !important; color:#38ACD2 !important;}
.no-right-border{border-right:none !important;}
#myplan .active{background:white !important; color:#38ACD2 !important;}
#new-bol #priceBox{margin:0px !important; width:100%;}
#new-bol .media .media-body{ margin-left:5px !important;}
#new-bol .media .fa-check{font-size:12px; position: relative; top:3px;}
.width-auto{width:100%;}
#new-bol .border-right{border-right:20px solid #EFEFEF !important;}
#new-bol .border-bottom{border-bottom:2px solid #000000 !important;}
#new-bol .card{border-radius:0px;}
#new-bol .make-me-sticky{position: sticky;top: 0;z-index: 999;}
#new-bol .my_feature1 {background: #2B2A2A; line-height: 40px;}
#new-bol #priceHatRed {width:100%; max-width:100% !important;}
#new-bol #priceBox {width:100%; max-width:100% !important;}
#tab1 #priceBox{ max-width:100% !important; width:100%;}
#tab .active{ background:#38ACD2 !important; color:rgb(255, 255, 255) !important; height:40px ; padding:10px 20px;margin:5px;}

#tab .border-radius{
	border-radius: 25px 25px 25px 25px !important;
	-moz-border-radius: 25px 25px 25px 25px !important;
	-webkit-border-radius: 25px 25px 25px 25px !important;
}

#tab a{color:rgb(70, 70, 70) !important}

[data-toggle="collapse"].collapsed .if-not-collapsed {
	display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
	display: none;
}

	.if-collapsed{
	color:#38ACD2 !important;
}

#collapseExample1 ul{padding-left:21px;}
#collapseExample1 ul li{list-style-type: none; font-size:14px;}
#collapseExample1 .fa-check{ font-size:12px; color:#212529;}
#collapseExample2 ul{padding-left:21px;}
#collapseExample2 ul li{list-style-type: none; font-size:14px;}
#collapseExample2 .fa-check{ font-size:12px; color:#212529;}
	

/* cyber-69 */
#cyber-69 .form-container form {
	border: 6px dashed #333;
	box-sizing: border-box;
	padding: 20px 0px;
}

#cyber-69 .offset-color {
	background-color: #333;
	display: block;
	height: 400px;
	width: 80%;
	position: relative;
}

#cyber-69 .tips-img {
	background-image: url('../img/tips.png');
	background-repeat: no-repeat;
	background-position: top;
	display: block;
	width: 100%;
	height: 400px;
	top: 40px;
	left: 40px;
	overflow: hidden !important;
	position: absolute;
	background-size: cover !important;
}

#customerjourney .banner-bg {
	clip-path: polygon( 0 0, /* left top */
	100% 0, /* right top */
	100% 100%, /* right bottom */
	0 80%/* left bottom */
	);
	background: #2B2A2A;
	padding: 100px 0 150px 0px;
}

#customerjourney .banner-right {
	clip-path: polygon( 1% 0, /* left top */
	99% 2%, /* right top */
	100% 98%, /* right bottom */
	0 100%/* left bottom */
	);
	background: rgb(255, 255, 255);
	padding: 15px 15px 15px 15px;
}

#customerjourney .quote {
	background: #EBEBEB;
	position: relative;
	z-index: 1;
}

#customerjourney .quote:before,
#customerjourney .quote:after {
	background: inherit;
	content: '';
	display: block;
	height: 83%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
	-webkit-backface-visibility: hidden;
	border-bottom: 20px solid #EBEBEB;
}

#customerjourney .quote:before {
	top: 0;
	-webkit-transform: skewY(0deg);
	transform: skewY(0deg);
	-webkit-transform-origin: 100% 3%;
	transform-origin: 100% 10%;
	background: #fff;
}

#customerjourney .quote:after {
	bottom: 0;
	-webkit-transform: skewy(0deg);
	transform: skewx(2deg);
	-webkit-transform-origin: 100%;
	transform-origin: 96%;
}

#customerjourney .move-top {
	position: relative;
	top: 10px;
}

#customerjourney .t-font {
	position: relative !important;
	top: 20px;
}

#customerjourney .para-w {
	width: 350px !important;
	margin-left: 50px;
	position: relative;
	top: 25px;
}

#customerjourney .b-align {
	margin-top: 20px;
	margin-left: 30px !important;
	position: relative;
	top: 25px;
}

#customerjourney .text-peek {
	margin-left: 300px !important;
}

#customerjourney .main-container {
	position: relative;
}

#customerjourney .arrow-icon {
	position: absolute;
	z-index: 9999;
	top: -94px;
	z-index: 9999;
	right: 24px;
}

#customerjourney .arrow-icon-2 {
	position: absolute;
	z-index: 9999;
	top: -52px;
	z-index: -1;
	left: 154px;
}

#customerjourney .arrow-icon3 {
	position: absolute;
	z-index: 9999;
	top: -15px;
	z-index: 9999;
	right: 117px;
}

#customerjourney .arrow-icon-4 {
	position: absolute;
	z-index: 9999;
	top: -31px;
	z-index: -1;
	left: 179px;
}

#customerjourney .rotate {
	margin: 0 auto;
	display: table !important;
}

#customerjourney .rotate h2 {
	background: #38ACD2;
	text-align: center;
	color: #fff;
}

#customerjourney .section-heading {
	color: #BE252D;
	font-size: 38px;
	padding-top: 25px;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 222px;
}

#customerjourney .section-heading-1 {
	color: #BE252D;
	font-size: 38px;
	padding-top: 25px;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 616px;
}

#customerjourney .section-heading-2 {
	color: #BE252D;
	font-size: 38px;
	padding-top: 25px;
	z-index: 999;
	position: absolute;
	top: -46px;
	left: 616px;
}

#customerjourney .security-col {
	width: 84%;
	margin: 0 auto;
	float: left;
	min-height: 520px;
}

#customerjourney .number-bg {
	float: left;
	border-bottom: 120px solid #38ACD2;
	border-left: 50px solid transparent;
	border-right: 9px solid transparent;
	height: 0;
	width: 230px;
	-webkit-transform: rotateX(2.8647889756541165deg) rotateY(25.783100780887047deg) rotateZ(532.2777916765348deg);
	transform: rotateX(1.8647889756541165deg) rotateY(25.783100780887047deg) rotateZ(532.2777916765348deg);
	z-index: 999;
}

#customerjourney .number-bg h2 {
	-ms-transform: rotate(188deg);
	/* IE 9 */
	-webkit-transform: rotate(188deg);
	/* Safari 3-8 */
	transform: rotate(188deg);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 250px;
	font-weight: 900;
	top: 187px;
	bottom: 0px;
	position: absolute;
	color: #fff;
	-webkit-text-stroke: 3px #38ACD2;
	-webkit-text-fill-color: white;
	-webkit-animation: fill 0.5s infinite alternate;
}

#customerjourney .triangle-top {
	width: 0;
	height: 0;
	border-bottom: 159px solid #38ACD2;
	border-right: 146px solid transparent;
	transform: rotate(-227deg);
	position: absolute;
	margin-top: 40px;
}

#customerjourney .triangle-bottom {
	width: 0;
	height: 0;
	border-bottom: 159px solid #38ACD2;
	border-right: 117px solid transparent;
	transform: rotate(335deg);
	position: absolute;
	margin-top: 34px;
	margin-left: -6px;
}

#customerjourney .gray-bg {
	float: left;
	border-bottom: 130px solid #EBEBEB;
	border-left: 40px solid transparent;
	border-right: 65px solid transparent;
	height: 0;
	width: 680px;
	-webkit-transform: rotateX(4.8647889756541165deg) rotateY(22.783100780887047deg) rotateZ(538.2777916765348deg);
	transform: rotateX(1.8647889756541165deg) rotateY(22.783100780887047deg) rotateZ(539.2777916765348deg);
	position: absolute;
	top: 60px;
	bottom: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#customerjourney .gray-bg {
		z-index: -9999;
	}
}

#customerjourney .gray-bg-2 {
	float: left;
	border-bottom: 135px solid #EBEBEB;
	border-left: 48px solid transparent;
	border-right: 77px solid transparent;
	height: 0;
	width: 680px;
	-webkit-transform: rotateX(5.8647889756541165deg) rotateY(15.783100780887047deg) rotateZ(535.2777916765348deg);
	transform: rotateX(5.8647889756541165deg) rotateY(15.783100780887047deg) rotateZ(535.2777916765348deg);
	position: absolute;
	top: 70px;
	bottom: 0;
	right: -35px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#customerjourney .gray-bg-2 {
		z-index: -9999;
	}
}

#customerjourney .gray-bg p {
	-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: rotateX(1deg) rotateY(0deg) rotateZ(900deg);
	display: inline-block;
	text-align: left;
	position: absolute;
	top: 0px;
	padding: 10px 15px 15px 150px;
}

#customerjourney .gray-bg-2 p {
	-webkit-transform: rotateX(10.8647889756541165deg) rotateY(0.783100780887047deg) rotateZ(543.2777916765348deg);
	transform: rotateX(10.8647889756541165deg) rotateY(0deg) rotateZ(543.2777916765348deg);
	display: inline-block;
	text-align: left;
	font-style: italic;
	letter-spacing: 1px;
	position: absolute;
	top: 15px;
	padding: 10px 15px 15px 150px;
}

#customerjourney .left-space {
	padding-left: 400px;
	position: relative;
	top: 35px;
}

#customerjourney .heading-top {
	margin-top: -75px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#customerjourney .arrow-icon-2,
	#customerjourney .arrow-icon-4 {
		z-index: -99999;
	}
}

#website-scraping .fom-style-scraping {
	padding: 20px 20px 10px 20px;
	position: absolute;
	top: -150px;
	background: white;
	border-radius: 10px;
	color: black;
}

#website-scraping .fa-check {
	padding: 10px;
}

#start-website .bottom-wave {
	position: relative !important;
	height: 400px !important;
	width: 100%;
	background: #BE252D;
}

#start-website .bottom-wave:before {
	content: "";
	display: block;
	position: absolute !important;
	border-radius: 60% 100% !important;
	width: 50%;
	height: 250px;
	background-color: #c32328;
	/* z-index:1; */
	right: 0px;
	top: 250px;
}

#start-website .bottom-wave:after {
	content: "";
	display: block;
	position: absolute !important;
	border-radius: 60% 100% !important;
	width: 50%;
	height: 250px;
	background-color: #c32328;
	left: -159px;
	/* z-index:1; */
	top: 194px;
}

#websitewarning .black3 {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .75);
	*background: transparent;
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#BF000000, endColorStr=#BF000000);
	*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";
	padding: 30px 20px;
}

#websitewarning .container1 {
	background-image: url('../img/website-warning-messages/header.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 50px !important;
}

#websitewarning .formContainer {
	background: #fff !important;
	margin-top: 147px;
	margin-left: -95px;
	width: 450px;
	padding: 20px;
	box-shadow: 30px 30px 0px 0px #BE252D;
}

#websitewarning .banner-paragraph {
	padding-right: 50px;
}

#websitewarning .list-head {
	padding-right: 70px;
}

#check-malware-now .image-banner {
	background-image: url('../img/positiveguyusing.jpg');
	padding-top: 130px;
	padding-bottom: 130px;
}

#fast-website .phone-call {
	color: #BE252D;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 4px solid #BE252D;
	padding: 10px 0;
	position: relative;
	top: 8px;
}

#fast-website .phone-call a {
	color: #BE252D;
	letter-spacing: 1px;
}

#fast-website .phone-call a:hover {
	color: #38ACD2 !important;
	text-decoration: none;
}

#fast-website .banner {
	background-image: url('../img/frustration.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center right !important;
	height: 70%;
}

#fast-website .banner-white {
	padding: 50px 30px;
	margin-top: 120px;
}

#fast-website .banner-second {
	padding: 40px 0px !important;
	background: linear-gradient( to right, #38ACD2 0%, #38ACD2 80%, #ffff 80%, #ffff 100%) !important;
}

#fast-website .cardp {
	position: relative;
	padding: 20px 20px 10px 20px;
}

#fast-website .card {
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}

#fast-website .form-control-placeholder {
	top: 0;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

#fast-website .triangle-down {
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 85px solid #fff;
	top: -50px;
	position: relative;
	margin: 0 auto;
}

#lander-malware-scanning .form-control-placeholder {
	top: 0;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	color: white !important;
}

#lander-malware-scanning .form-top {
	position: relative;
	top: -50px;
}

.bg-main {
	background: linear-gradient(to right, white 0%, white 50%, white 50%, #38acd2 50%, #38acd2 100%);
}

#blacklist-removal .form-control-placeholder {
	top: 0;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

#blacklist-removal .iconLg {
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

#scan-malware-now .image-banner {
	background-image: url('../img/positiveguyusing.jpg');
	padding-top: 130px;
	padding-bottom: 130px;
}

#malware-testimonial .iconLg {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	padding-top: 10px;
}

#malware-testimonial .media {
	margin-bottom: 10px;
}

#check-malware .form-control-placeholder {
	top: 0;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

#get-trust-badge .image-banner {
	background: #38ACD2 url('../img/badge.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 570px;
	background-position: 50% 50%;
}

#get-trust-badge .cardp {
	position: relative;
	padding: 20px 20px 10px 20px;
}

#get-trust-badge .card {
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}


/* about card start */

#photo .card {
	overflow: hidden;
	position: relative;
	border: 3px solid #404040;
	text-align: center;
	padding: 0;
	background-color: #EBEBEB;
	color: black;
	padding: 38px 30px;
}

#photo .card .header-bg {
	/* This stretches the canvas across the entire hero unit */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
	background-size: cover;
	border-bottom: 1px #FFF solid;
	/* This positions the canvas under the text */
	z-index: 1;
}

#photo .card .avatar {
	position: relative;
	margin-top: 15px;
	z-index: 100;
}

#photo .card .avatar {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	margin: 64px auto;
	padding: 15px;
	position: relative;
	top: 45px;
	border: 5px solid rgba(0, 0, 30, 0.8);
}

#get-trust-badge .red-border {
	border: solid 2px #BE252D;
	border-radius: 15px;
}

#risk-assessment .image-banner {
	background: rgb(0, 0, 0) url('../img/website-risk-hacker.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: 50% !important;
	max-width: 100%;
	height: 100vh;
	background-position: left top;
}

#risk-assessment .banner-small {
	background: rgb(0, 0, 0) url('../img/website-risk-hacker.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: 7% !important;
	background-position: 500px bottom !important;
}

.vidTranscript {
	display: none;
}

#scanVidTranscript {
	cursor: pointer;
}

#website-scanning-malwaer .image-banner {
	background-image: url('../img/positiveguyusing.jpg');
	padding-top: 130px;
	padding-bottom: 130px;
}

#website-malware-scanning .form-control-placeholder {
	top: 0;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}


/* flip-start */

#f1_container {
	position: relative;
	margin: 10px auto;
	position: relative;
	z-index: 1;
}

#f1_container {
	perspective: 1000;
}

#f1_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s linear;
	background-color: #333333;
	width: 240px;
	height: 240px;
	border-radius: 120px;
	margin: 0 auto;
}

#f1_container:hover #f1_card {
	transform: rotateY(180deg);
	box-shadow: none !important;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: white;
	text-align: center;
	background-color: #333333;
	width: 240px;
	height: 240px;
	border-radius: 120px;
}


/* flip-End */

#risk-assessment .input-style {
	width: 385px;
	border: 0;
	padding: 0px;
	height: 50px;
	margin: 0;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}

@media (max-width: 575px) {
	#customerjourney .arrow-icon,
	#customerjourney .arrow-icon3 {
		display: none;
	}
	#customerjourney .main-container {
		margin-top: 40px;
	}
	#customerjourney .gray-bg {
		border: 0px;
		height: 250px;
		width: 100%;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		position: absolute;
		top: 60px;
		bottom: 0;
		background: #EBEBEB;
	}
	#customerjourney .gray-bg p {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		display: inline-block;
		text-align: center !important;
		position: absolute;
		top: 74px;
		padding: 80px 15px 15px 20px;
		font-size: 16px !important;
	}
	#customerjourney .gray-bg-2 {
		border: 0px;
		height: 250px;
		width: 100%;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		position: absolute;
		top: 60px;
		bottom: 0;
		left: 0px;
		background: #EBEBEB;
	}
	#customerjourney .gray-bg-2 p {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		display: inline-block;
		text-align: left;
		font-style: italic;
		letter-spacing: 1px;
		position: absolute;
		top: 25px;
		padding: 60px 15px 15px 20px;
	}
	#customerjourney .left-space {
		padding-left: 0px;
		position: relative;
		top: 150px;
	}
	#customerjourney .arrow-icon-2,
	.arrow-icon-4 {
		display: none;
	}
	#customerjourney .section-heading,
	#customerjourney .section-heading-1,
	#customerjourney .section-heading-2 {
		padding-top: 4px !important;
		font-size: 25px !important;
		text-align: center !important;
		top: 175px !important;
		width: 100%;
		left: 0px !important;
	}
	#customerjourney .security-col {
		width: 100% !important;
		margin: 0 auto;
		float: none !important;
	}
	#customerjourney .number-bg {
		float: none !important;
		margin: 0 auto !important;
	}
	#customerjourney .number-bg2 {
		float: none !important;
		margin: 0 auto !important;
	}
	#customerjourney .bg-height {
		height: 300px !important;
	}
	#customerjourney .gray-bgs p {
		top: 80px !important;
	}
	.make-me-sticky{
		position: sticky;
		top: 0;
		z-index: 999;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	#customerjourney .gray-bg p {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		display: inline-block;
		text-align: center !important;
		position: absolute;
		top: 70px !important;
		padding: 80px 15px 15px 20px;
	}

}

@media (min-width: 576px) and (max-width: 767px) {
	#customerjourney .arrow-icon,
	#customerjourney .arrow-icon3 {
		display: none;
	}
	#customerjourney .main-container {
		margin-top: 40px;
	}
	#customerjourney .gray-bg {
		border: 0px;
		height: 250px;
		width: 100%;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		position: absolute;
		top: 60px;
		bottom: 0;
		background: #EBEBEB;
	}
	#customerjourney .gray-bg p {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		display: inline-block;
		text-align: left;
		position: absolute;
		top: 25px;
		padding: 80px 15px 15px 20px;
	}
	#customerjourney.gray-bg-2 {
		border: 0px;
		height: 250px;
		width: 100%;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		position: absolute;
		top: 60px;
		bottom: 0;
		left: 0px;
		background: #EBEBEB;
	}
	#customerjourney .gray-bg-2 p {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		display: inline-block;
		text-align: center !important;
		font-style: italic;
		letter-spacing: 1px;
		position: absolute;
		top: 70px !important;
		padding: 60px 15px 15px 20px;
	}
	#customerjourney .left-space {
		padding-left: 0px;
		position: relative;
		top: 150px;
	}
	#customerjourney .arrow-icon-2,
	#customerjourney .arrow-icon-4 {
		display: none;
	}
	#customerjourney .section-heading,
	#customerjourney .section-heading-1,
	#customerjourney .section-heading-2 {
		padding-top: 4px !important;
		font-size: 25px !important;
		text-align: center !important;
		top: 175px !important;
		width: 100%;
		left: 0px !important;
	}
	#customerjourney .number-bg {
		float: none !important;
		margin: 0 auto !important;
	}
	#customerjourney .number-bg2 {
		float: none !important;
		margin: 0 auto !important;
	}
	.make-me-sticky {
		position: sticky;
		top: 0;
		z-index: 999;
	}
		
}

@media (min-width: 768px) and (max-width: 1024px) {
	#customerjourney .security-col {
		width: 100% !important;
		margin: 0 auto;
		float: left;
		min-height: 730px;
	}
	#customerjourney .section-heading-1 {
		left: 226px !important;
	}
	#customerjourney .section-heading-2 {
		left: 226px !important;
	}
	#customerjourney .arrow-icon,
	#customerjourney .arrow-icon3 {
		display: none;
	}
	#customerjourney .main-container {
		margin-top: 40px;
	}
	#customerjourney .gray-bg {
		border: 0px;
		height: 200px;
		width: 100%;
		position: absolute;
		top: 60px;
		bottom: 0;
		background: #EBEBEB;
	}
	#customerjourney .gray-bg p {
		display: inline-block;
		text-align: left;
		position: absolute;
		top: 25px;
		padding: 20px 15px 15px 210px;
		clear: both;
	}
	#customerjourney .left-space {
		padding-left: 0px;
		position: relative;
		top: 150px;
	}
	#customerjourney.arrow-icon-2,
	#customerjourney .arrow-icon-4 {
		display: none;
	}
	#customerjourney .mt-80 {
		margin-top: 0px;
	}
	#customerjourney .para-w {
		width: 100% !important;
		margin-left: 0px !important;
	}
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 1081px) {
	.footconnect {
		display: none !important;
	}
	.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1% auto;
	}
}

@media only screen and (max-width: 768px) {
	#cyber-69 .offset-color {
		width: 100%;
	}
	#cyber-69 .tips-img {
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		position: relative;
	}
	#customerjourney .main-container {
		margin-top: 40px;
	}
	#customerjourney .text-peek {
		margin-left: 0px !important;
		text-align: center !important;
	}
	.txt-s-center {
		text-align: center !important;
	}
	#customerjourney .video {
		padding: 15px 0px !important;
	}
	#customerjourney .banner-right {
		clip-path: polygon( 0 0, /* left top */
		100% 0, /* right top */
		100% 100%, /* right bottom */
		0 100%/* left bottom */
		);
		background: #2B2A2A;
		padding: 0px 0px 0px 0px !important;
	}
	#customerjourney .banner-bg {
		clip-path: polygon( 0 0, /* left top */
		100% 0, /* right top */
		100% 100%, /* right bottom */
		0 100%/* left bottom */
		);
		background: #2B2A2A;
		padding: 10px 0 10px 0px;
	}
	#customerjourney .para-w {
		width: 100% !important;
		margin-left: 0px !important;
	}
	#customerjourney .security-col {
		width: 100% !important;
		margin: 0 auto;
		float: none !important;
		height: 848px !important;
	}
	#customerjourney .t-font {
		text-align: center;
	}
	#customerjourney .quote:before,
	#customerjourney .quote:after {
		background: inherit;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		-webkit-backface-visibility: hidden;
		border-bottom: 20px solid #EBEBEB;
	}
	#customerjourney .quote:before {
		top: 0;
		-webkit-transform: skewY(0deg);
		transform: skewY(0deg);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		background: #EBEBEB;
	}
	#customerjourney .quote:after {
		bottom: 0;
		-webkit-transform: skewy(0deg);
		transform: skewx(0deg);
		-webkit-transform-origin: 100%;
		transform-origin: 100%;
	}
	#website-scraping .fom-style-scraping {
		position: static !important;
		background: none;
	}
	.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1% auto;
	}
	.bottom-wave {
		min-height: 700px !important;
		width: 100%;
		background: #BE252D;
	}
	.bottom-wave:before {
		display: block !important;
		border-radius: none !important;
		width: 100% !important;
		height: auto !important;
		background-color: #BE252D;
		right: 0px !important;
		top: 0px !important;
	}
	.bottom-wave:after {
		display: block !important;
		border-radius: none !important;
		width: 100% !important;
		height: auto !important;
		background-color: #BE252D;
		right: 0px !important;
		top: 0px !important;
	}
	#websitewarning .formContainer {
		background: #fff;
		margin-top: 0px !important;
		margin-left: 0px !important;
		width: auto !important;
		box-shadow: none !important;
	}
	.text-left {
		text-align: center !important;
	}
	.text-right {
		text-align: center !important;
	}
	#website-virus .float-right {
		float: none !important;
	}
	#website-virus .float-left {
		float: none !important;
	}
	.mobile-display {
		display: none !important;
	}
	.bg-main {
		background: none !important;
	}
	.padding-left110 {
		padding-left: 0px !important;
		text-align: left;
	}
	#risk-assessment .image-banner {
		background-size: 100% !important;
		background-position: center bottom !important;
	}
	.industry {
		background-image: url('../img/scanning-gartner-desktop.jpg') !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: right 50%;
		height: auto;
	}
	#vpn-lander .img-tab{position:relative; left:0px; top:0px}
	#vpn-lander .img-web{position:relative; left:0px; top:0px}
	
	#repair-now .testimonial{background:#808080; height:auto !important; margin:20px 0px !important;}
	#repair-now .testimonial p:before {color: #ffffff !important; left: 5px; top:-80px;}
	#repair-now .testimonial img{border:solid 6px #808080; position:relative; top:-50px; z-index:9999999; width:50%; }
	#repair-now .arrow-right {display:none !important;}
	
	.make-me-sticky {
		position: sticky;
		top: 0;
		z-index: 999;
	}
	#new-bol .border-right{border-right:none !important;}
	.arrow_box {
		position: relative;
		background: none;
		border-left: none;
		border-right: none;
	}
	.arrow_box::after {display:none !important;}
	.arrow_box::before {display:none !important;}
	#new-bol .card-header {
		padding: 0 0px 0 0 !important;
		width: 100% !important;
	}
	#new-bol .card-header img {width: 100% !important;}
		
}